<%= form_for([:admin, @order]) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :mobile %>
    <%= f.text_field :mobile %>
  </div>

  <div class="form-group">
    <%= f.label :paid %>
    <%= f.check_box :paid %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>