<h1>訂單管理</h1>

<table class='table'>
  <thead>
    <tr>
      <th>編號</th>
      <th>訂購人</th>
      <th>信箱</th>
      <th>電話</th>
      <th>金額</th>
      <th>已付款</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.name %></td>
        <td><%= order.email %></td>
        <td><%= order.mobile %></td>
        <td><%= number_to_currency order.amount %></td>
        <td><%= order.paid? %></td>
        <td><%= link_to '瀏覽', admin_order_path(order) %></td>
        <td><%= link_to '編輯', edit_admin_order_path(order) %></td>
        <td><%= link_to '刪除', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>