<h1>Welcome to Betacamp</h1>
<div class='row'>
  <div class='col-sm-2'>
    <ul class='nav nav-stacked'>
      <% @categories.each do |category| %>
        <li>
          <%= link_to_if (category.products_count > 0), category.name, category_path(category) %>
          <ul>
            <% category.children.each do |child| %>
              <li><%= link_to child.name, category_path(child) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='col-sm-10'>
    <div class="row">
      <% @products.each do |product| %>
        <div class='col-sm-3'>
          <div class='media'>
            <%= image_tag Faker::Placeholdit.image("240x160", "png", 'e6e6e6'), class: 'pull-left' %>
            <div class='media-body'>
              <h2 class='product-name'><%= link_to product.name, category_product_path(product.category, product) %></h2>
              <div class='product-description'><%= product.description %></div>
              <div class='product-price'><%= number_to_currency product.price %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @products %>
  </div>
</div>