<h1><%= @category.name %></h1>

<div class="row">
  <% @products.each do |product| %>
    <div class='col-sm-3'>
      <div class='media'>
        <%= image_tag Faker::Placeholdit.image("240x160", "png", 'e6e6e6'), class: 'pull-left' %>
        <div class='media-body'>
          <h2 class='product-name'><%= link_to product.name, category_product_path(product.category, product) %></h2>
          <div class='product-description'><%= product.description %></div>
          <div class='product-price'><%= number_to_currency product.price %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @products %>

<div class="row">
  <div class="col-sm-6">
    <% if user_signed_in? %>
      <h2>發表評論</h2>
      <%= form_for(Comment.new, url: category_comments_path(@category)) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>

        <%= f.submit nil, class: 'btn btn-default' %>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <h2>相關評論</h2>
    <% if @category.comments.empty? %>
      <div class='alert alert-info'>目前沒有評論</div>
    <% end %>
    <% @category.comments.each do |comment| %>
      <div class='comment'>
        <h5><%= comment.name %></h5>
        <p><%= comment.user.email %></p>
        <%= simple_format comment.content %>
        <p>Posted at <%= comment.created_at %></p>
      </div>
    <% end %>
  </div>
</div>