<h1><%= @category.name %></h1>

<div class="row">
  <%= render partial: 'shared/products/product', collection: @products %>
</div>

<%= paginate @products %>

<div class="row">
  <div class="col-sm-6">
    <%= render 'shared/comments/form', url: category_comments_path(@category) if user_signed_in? %>
  </div>
  <div class="col-sm-6">
    <%= render 'shared/comments/list', comments: @comments %>
  </div>
</div>