<div class="row">
  <div class="col-sm-6">
    <%= image_tag Faker::Placeholdit.image("640x480", "png", 'e6e6e6'), class: 'pull-left img-responsive' %>
  </div>
  <div class="col-sm-6">
    <h1><%= @product.name %></h1>
    <p>Category: <%= link_to @product.category.name, category_path(@product.category) %></p>
    <div class='product-description'><%= @product.description %></div>
    <div class='product-price'><%= number_to_currency @product.price %></div>
    <div class="product-content"><%= simple_format(@product.content) %></div>
    <div>
      <%= link_to '加到購物車', add_category_product_path(@product.category, @product), method: :post, class: 'btn btn-primary' %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <%= render 'shared/comments/form', url: category_product_comments_path(@product.category, @product) if user_signed_in? %>
  </div>
  <div class="col-sm-6">
    <%= render 'shared/comments/list', comments: @product.comments %>
  </div>
</div>